<div class="main-container">
  <div class="main-content-container">
    <h1>DOCS AI</h1>
    <button (click)="navegarApp()">Start!</button>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1440 350"><g mask="url(&quot;#SvgjsMask1116&quot;)" fill="none"><rect width="1440" height="350" x="0" y="0" fill="rgba(255, 255, 255, 1)"></rect><path d="M 0,12 C 96,51.8 288,207 480,211 C 672,215 768,19.2 960,32 C 1152,44.8 1344,226.4 1440,275L1440 350L0 350z" fill="rgba(231, 231, 231, 1)"></path><path d="M 0,227 C 72,181.6 216,7.8 360,0 C 504,-7.8 576,174.6 720,188 C 864,201.4 936,54.2 1080,67 C 1224,79.8 1368,215 1440,252L1440 350L0 350z" fill="rgba(112, 112, 112, 1)"></path><path d="M 0,50 C 96,100.8 288,289.8 480,304 C 672,318.2 768,116.6 960,121 C 1152,125.4 1344,285 1440,326L1440 350L0 350z" fill="rgba(0, 0, 0, 1)"></path></g><defs><mask id="SvgjsMask1116"><rect width="100%" height="100%" fill="#ffffff"></rect></mask></defs></svg>
</div>

<div class="info-main-container">
  <div class="info-container">
    <h3 class="info-titulo">INTERACTUA CON TUS DOCUMENTOS!</h3>
    <a class="info-subtitulo">Y optimiza tus tiempos de trabajo</a>

    <div class="info-container-content">
      <div class="info-card-container">
        <div class="info-card">
          <img src="carga-en-la-nube.png" class="logo">
        </div>
        <a class="info-card-text">Sube tus documentos</a>
      </div>
      <div class="info-card-container">
        <div class="info-card">
          <img src="telefono-mas.png" class="logo">
      </div>
        <a class="info-card-text">Añade un telefono</a>
      </div>
      <div class="info-card-container">
        <div class="info-card">
          <img src="comentario-alt.png" class="logo">
        </div>
        <a class="info-card-text">Interactua con el</a>
      </div>
    </div>

  </div>
</div>


