.main-container {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;

}

.main-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  flex-direction: column;

}


.info-main-container {
  width: 100%;
  height: 100%;
  background-color: black;
}



.info-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.info-container-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.info-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-text {
  color: azure;
  font-size: 1.25rem;
  margin-top: 2rem;
}

.info-card {
  width: 8rem;
  height: 8rem;
  background-color: rgb(65, 65, 65);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-subtitulo {
  color: azure;
  font-size: 1.3rem;
}

.info-titulo {
  color: azure;
  padding: 0;
  margin:0;
  margin: 2rem;
  font-size: 50px;
}

.logo {
  width: 5rem;
  height: 5rem;
}




button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  letter-spacing: 0.1rem;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 300ms;
  overflow: hidden;
 }

 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 300ms
 }

 button:hover {
  color: #e8e8e8;
 }

 button:hover::before {
  width: 100%;
 }



















